.DS_Store
*.xpr
.idea
.eggs

# Build results
target/
/publish-docs/
/www/output/
/generated/
.doctrees

build/
_build/
/build-*.log.gz
*.pdf
glossary.rst
*.mo

# Python compiled files
*.pyc

# Ignore Vagrant Related Files
acceptance_config.yml
boxes/*
/.vagrant

# Testenvironment
.tox/

# Virtualenv
.venv/
ENV/

# Editors
*~
.*.swp
.bak
/.project
.python-version
node_modules
.vscode
Gemfile.lock
.env
Pipfile.lock
docs/_build/
docs/build/
doc/_build/
doc/build/
api-docs/_build/
api-docs/build/

_build/
style-guide/_build/